.landing-container{
display: flex;
 height: 300vh;
 overflow: hidden;
}
/* .background{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;

}

.locator{
    width: 800px;
}

.sidebar{
    z-index: +1;
    position: absolute;
} */