.dash-page-container{
    display: flex;
    justify-content: flex-start;
}

.dash-page-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.item-1{
    padding: 5rem;
}

.item-2{
    padding: 5rem;
}

.item-3{
    padding: 5rem;
}