.nav-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: #fffcf9 ;
    align-items: center;
    justify-content: center;
}

.logo-image{
    max-height: 250px ;
}


.link-left{
    margin-top: 10rem;
}
.link-right{
    margin-top: 10rem;
}

li{
    padding: 1rem;
}