@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.navbar{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: #fffcf9 ;
    align-items: center;
    justify-content: center;
}

.logo-image{
    max-height: 300px ;
}


.link-left{
    margin-top: 8rem;
    max-width: 100%;
}
.link-right{
    margin-top: 8rem;
    max-width: 100%;
}

li{
    padding: 6rem;
    font-family: 'Bebas Neue', cursive;
}

a{
    color: black;
    font-size: 50px;
}
 